
Android-Camera-Example-master/.gradle/2.2.1/taskArtifacts/cache.properties.lock

2/app/src/main/java/uoft/p3/PictureMode.java

2/app/src/main/java/uoft/p3/PictureMode.java

2/app/src/main/java/uoft/p3/PictureMode.java
